*wq
! .vimrc
! .gitconfig
! .gdbinit
! .editorconfig
! .aliases
! .nanorc
! .viminfo
! .tcshrc
! .wgetrc
! .cshrc
! .screenrc
! .dmrc
! .tcsh_profile
! .functions
! .bashrc
! .bash_profile
! .logout
! .plan
! .curlrc
! .exports
! .bash_prompt
! .pinerc
! .gitignore
! .bash_logout
! .files
